
Pacote Download/Ex-VerVídeo/.idea/codeStyles/codeStyleConfig.xml
Pacote Download/Ex-VerVídeo/.idea/description.html
Pacote Download/Ex-VerVídeo/.idea/misc.xml
Pacote Download/Ex-VerVídeo/.idea/modules.xml
Pacote Download/Ex-VerVídeo/.idea/project-template.xml
Pacote Download/Ex-VerVídeo/.idea/encodings.xml
Pacote Download/Ex-VerVídeo/.idea/runConfigurations.xml
Pacote Download/Ex-VerVídeo/.idea/uiDesigner.xml
Pacote Download/Ex-Simu.Luta/.idea/description.html
Pacote Download/Ex-Simu.Luta/.idea/encodings.xml
Pacote Download/Ex-Simu.Luta/.idea/misc.xml
Pacote Download/Ex-Simu.Luta/.idea/modules.xml
Pacote Download/Ex-Simu.Luta/.idea/project-template.xml
Pacote Download/Ex-Simu.Luta/.idea/runConfigurations.xml
Estudo/Ex-Simu.Luta/.idea/description.html
Estudo/Ex-Simu.Luta/.idea/encodings.xml
Estudo/Ex-Simu.Luta/.idea/misc.xml
Estudo/Ex-Simu.Luta/.idea/modules.xml
Estudo/Ex-Simu.Luta/.idea/project-template.xml
Estudo/Ex-Simu.Luta/.idea/runConfigurations.xml
Estudo/Ex-VerVídeo/.idea/codeStyles/codeStyleConfig.xml
Estudo/Ex-VerVídeo/.idea/description.html
Estudo/Ex-VerVídeo/.idea/misc.xml
Estudo/Ex-VerVídeo/.idea/modules.xml
Estudo/Ex-VerVídeo/.idea/project-template.xml
Estudo/Ex-VerVídeo/.idea/runConfigurations.xml
Estudo/Ex-VerVídeo/.idea/uiDesigner.xml
Estudo/Ex-VerVídeo/.idea/encodings.xml
