
Pacote Download/Ex-VerVídeo/.idea/codeStyles/codeStyleConfig.xml
Pacote Download/Ex-VerVídeo/.idea/description.html
Pacote Download/Ex-VerVídeo/.idea/misc.xml
Pacote Download/Ex-VerVídeo/.idea/modules.xml
Pacote Download/Ex-VerVídeo/.idea/project-template.xml
Pacote Download/Ex-VerVídeo/.idea/encodings.xml
Pacote Download/Ex-VerVídeo/.idea/runConfigurations.xml
Pacote Download/Ex-VerVídeo/.idea/uiDesigner.xml
